body {
    background-color: #5AC074;
    text-align: center;
    font-family: "arvo";
    margin: 0;
    overflow: hidden;
}

li.list-group-item {
    background: transparent;
    border: none;
    color: white;
}

[class|="confetti"] {
    position: absolute;
}

.red {
    background-color: #E94A3F;
}

.yellow {
    background-color: #FAA040;
}

.blue {
    background-color: #5FC9F5;
}
