{% extends "base_layout.html" %}
{% block content %}
    <h2><img src="/static/edit.png" width="300px"></h2>
    
    {% from "_formhelpers.html" import render_field %}
    <form method=post>
        <dl>
            {{ render_field(form.title) }}
            {{ render_field(form.subject_matter) }}
            {{ render_field(form.publisher) }}
            {{ render_field(form.media_type) }}
            {{ render_field(form.file_url) }}
            {{ render_field(form.name)}}
        </dl>
        <p>
            <button class="btn btn-outline-light" type=submit>Submit</button>
            <br><br>
            <a class="btn btn-outline-light" href="{{ url_for('.index') }}"> Back </a>
        </p>
    </form>
{% endblock %}
